.app {
    /* You may want to add a background or min-height here if needed */
  }
  
  .hero,
  .intro,
  .outro {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 2em;
  }
  
  .hero {
    padding: 0;
  }
  
  .intro,
  .outro {
    background-color: #fff;
    display: flex;
    align-items: center;
  }
  
  .intro h1,
  .outro h1 {
    margin-bottom: 0;
  }
  
  .card {
    position: relative;
  }
  
  .cardInner {
    position: relative;
    will-change: transform;
    width: 100%;
    height: 100%;
    padding: 2em;
    display: flex;
    gap: 4em;
  }
  
  .cardContent {
    flex: 3;
  }
  
  .cardImg {
    flex: 1;
    aspect-ratio: 16 / 9;
    border-radius: 0.75em;
    overflow: hidden;
  }
  
  .card1 .cardInner {
    background-color: #c3abff;
  }
  
  .card2 .cardInner {
    background-color: #ffffff;
  }
  
  .card3 .cardInner {
    background-color: #fed35b;
  }
  
  .card4 .cardInner {
    background-color: #000000;
    color: #fff;
  }
  
  .heading1 {
    font-size: 4rem;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 2.5em;
  }
  
  .paragraph {
    font-size: 1.25rem;
    font-weight: 500;
  }
  
  @media (max-width: 900px) {
    .heading1 {
      margin-bottom: 4rem;
    }
  
    .paragraph {
      font-size: 1rem;
    }
  
    .cardInner {
      flex-direction: column;
    }
  
    .cardImg {
      display: none;
    }
  } 